html,
body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

.validation-summary-errors ul {
    list-style: none;
    padding-left: 0;
}

.login,
.registration {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-container {
    margin: 0;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

.login-form,
.registration-form {
    width: 300px;
    margin: 0 auto;
}

.sidenav {
    height: 100%;
    width: 2px;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    overflow-x: hidden;
    padding: 0;
    transition: 0.2s;
}

    .sidenav:hover {
        width: 250px;
        padding: 15px;
    }

/*.close {
        width: 30px;
        height: 30px;
        background-color: rgb(226 0 0);
        text-align: center;
    }

    .close:hover {
        background-color: rgb(114 0 0);
    }*/